SWIMS/packages/*
SWIMS/SWIMSWeb/bin/*
SWIMS/SWIMSWeb/obj/*
SWIMS/SWIMS/obj/Debug/SWIMSDB.sqlprojAssemblyReference.cache
SWIMS/SWIMS/SWIMSDB.refactorlog
SWIMS/SWIMS/obj/*
SWIMS/SWIMS/bin/*
*.pdb
*.dll

SWIMS/SWIMSSearchEngine/obj/*
SWIMS/SWIMSDataAccessLayer/obj/*
SWIMS/SWIMSDataAccessLayer/bin/*
SWIMS/SWIMS_DB/obj/*
SWIMS/SWIMS_DB/bin/*
SWIMS/SWIMS_DB/Import Schema Logs/*

SWIMS/.vs/SWIMS/DesignTimeBuild/.dtbcache.v2
SWIMS/SWIMSSearchEngine/bin/*
SWIMS/.vs/SWIMS/v16/.suo
SWIMS/SWIMS_DB/SWIMS_DB.dbmdl
SWIMS/SWIMS_DB/SWIMS_DB.jfm
