@{
    ViewBag.Title = "Job Search";
}

<div class="jumbotron">
    <h1>Display Panel</h1>

</div>


<h5>Please enter you search text...</h5>
<div class="row ">
    <div class="col-md-4">
        <input type="text" class="input-group-text" style="width:100%;" />
    </div>
    <div class="col-md-4">
        <div class="" style="float:left;">
            <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("index", "Home")'">Go!</button>
        </div>
        <div class="" style="float:left;margin-left:10px;">
            <button type="button" class="btn btn-outline-danger">Clear</button>
        </div>
    </div>
    <!--div class="col-md-4">
        <h2>Go!</h2>
        <button type="button" class="btn btn-outline-primary">Go!</button>
    </!-div>
    <div class="col-md-4">
        <h2>Clear</h2>
        <button type="button" class="btn btn-outline-secondary">Clear</button>
    </div-->
</div>


 
